body{
    text-align: center;
    background-color: aquamarine;
    background-image: url('https://i.redd.it/v37a2sz3cjq11.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#descripción{
    text-align: justify;
    font-family: Arial;
    width: 30%;
    box-sizing: border-box;
    margin: auto;
}
ul{
    display: table;
    margin: 0 auto;
}
.estilolista{
    list-style: none;
}
.fichas{
    list-style: none;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.445);
    width:500px;
}
.aInicio{
    box-sizing: border-box;
    float: right;
}
.fotos{
    width: 200px;
    height: 150px;
    text-align: center;
}
.texto{
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    outline-color: yellow;
    background-color: rgba(0, 0, 0, 0.753);
    width:inherit;
}