body{
    text-align: center;
    background-color: aquamarine;
    background-image: url('https://i.redd.it/v37a2sz3cjq11.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#descripción{
    text-align: justify;
    font-family: Arial;
    width: 30%;
    box-sizing: border-box;
    margin: auto;
}
ul{
    display: table;
    margin: 0 auto;
}
.fichas{
    list-style: none;
}
.aInicio{
    box-sizing: border-box;
    float: right;
}
#foto_perro1{
    float: inline-start;
    border: 3px solid black;

}
#linkperro{
    font-size: 20px;
    padding: 3%;
}
#linkgato{
    font-size: 20px;
    padding: 3%;
}
#foto_gato1{
    border: 3px solid black;
}
#lucifer_foto{
    float: none;
}
#lucifer_desc{
    align-items: center;
}
#tommy_foto{
    border: 3px solid black;
}
#nina_cat_foto{
    border: 3px solid black;
}
#lucifer{
    border: 3px solid black;
}
#volver_inicio{
    font-size: 25px;
}
#nninacat{
    font-size: 25px;
}
#nlucifer{
    font-size: 25px;
}
#ntommy{
    font-size: 25px;
}